
#main-logo{
    width:165px;
    cursor: pointer;
    
}

#navbar-item{
    gap: 30px;
}

#navbar{
    padding: 0 10px;
}

.nav-link{
    text-decoration: none;
}

#main-logo{
    width: 60%;
}



#icon{
    font-size: 60px;
    color: #ffffff;
    display: none;
}

@media(max-width:700px){
    ul{
        display: none;
    }
    #icon{
        display: block;
    }
}


/* sectionstart1 */

ul{
    list-style: none;
    gap: 40px;
}

li:hover{
   
    transition:0.4s;
    cursor: pointer;
}

/* sectionend1 */

#main1{
    border: 1px solid #170808;
}

#icon-1{
    font-size: px;
    color: #ffffff;
    display: none;
}


@media(max-width:700px){
    li{
        display: none;
    }
    #icon-1{
        display: block;
    }
}


















